<nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <!--<a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>-->
    <p class="footer_tekst">©2017 - <a href="http://www.arteveldehogeschool.be/disclaimer">arteveldehogeschool</a> </p>

    <div class="socialmedia">
        <a class="fb-button"></a>
        <a class="tw-button"></a>
        <a class="apple-button"></a>
        <a class="google-button"></a>
    </div>
    
{%- endif %}
</nav>