.footer_tekst{
    float: left !important;
    color: white !important;
}

a{
    color: white;
}
a:hover{
    color: white;
}

.socialmedia a{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 2px;
    background-image: url(sprites.png);
    background-size: 70px auto;
    text-indent: -999px;
    
 
}
.fb-button{
    background-position: 0px 0px;
}

.fb-button:hover{
    background-position: -23px 0px;
}

.fb-button:active{
    background-position: -46px 0px;
}



.tw-button{
    background-position: 0px -23px;
}

.tw-button:hover{
    background-position: 46px -23px;
}

.tw-button:active{
    background-position: 23px -23px;
}



.apple-button{
    background-position: 0px -48px;
}

.apple-button:hover{
    background-position: 46px -48px;
}

.apple-button:active{
    background-position: 23px -48px;
}



.google-button{
    background-position: 0px -70px;
}

.google-button:hover{
    background-position: 46px -70px;
}

.google-button:active{
    background-position: 23px -70px;
}