.navbar{
    background-color: #a0192b !important;
    max-height: 50px;
}

.nav-link{
    background-color:#a0192b;
    position: relative;
    color: white !important;
}
.nav-link:hover{
    color: #5DD39E !important;
}